@model WebShopProjekt.ViewModels.ProductsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    @if (SignInManager.IsSignedIn(User))
    {
        Layout = "_RegisteredLayout";
    }
}

<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .price {
        font-size: 1.2rem;
        color: #333
    }

    .discount-price {
        font-size: 1rem;
        text-decoration: line-through;
        color: #999;
    }

    .badge-sale {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background-color: red;
        color: white;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }

    .card {
        position: relative;
    }

    .btn-group {
        width: 100%;
    }

        .btn-group > button {
            width: 50%;
        }

    .card-link {
        color;
        text-decoration: none;
    }

        .card-link:hover {
            text-decoration: none;
        }
</style>

<h3>Top Selling</h3>
<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model.TopSellingProducts)
        {

            <div class="col-md-3">
                <a href="/home/productdetails?productId=@product.Id">
                    <div class="card">
                        @if (product.IsDiscount)
                        {
                            <div class="badge badge-sale">Akcija</div>
                        }
                        <img src="/images/@product.images.First().ImagePath" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            @if (product.IsDiscount)
                            {
                                <div class="price">@product.DiscountPrice€</div>
                                <div class="discount-price">@product.Price</div>
                            }
                            else
                            {
                                <div class="price">@product.Price€</div>
                                <br />
                            }
                            <div class="btn-group" role="group">
                                <a href="/home/AddToCart?productId=@product.Id" class="btn btn-primary">U košaricu</a>
                                <button type="button" class="btn btn-success">Kupi</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<h3>Newest</h3>
<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model.NewestProducts)
        {

            <div class="col-md-3">
                <a href="/home/productdetails?productId=@product.Id">
                    <div class="card">
                        @if (product.IsDiscount)
                        {
                            <div class="badge badge-sale">Akcija</div>
                        }
                        <img src="/images/@product.images.First().ImagePath" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            @if (product.IsDiscount)
                            {
                                <div class="price">@product.DiscountPrice€</div>
                                <div class="discount-price">@product.Price</div>
                            }
                            else
                            {
                                <div class="price">@product.Price€</div>
                                <br />
                            }
                            <div class="btn-group" role="group">
                                <a href="/home/AddToCart?productId=@product.Id" class="btn btn-primary">U košaricu</a>
                                <button type="button" class="btn btn-success">Kupi</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<h3>On Sale</h3>
<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model.DiscountedProducts)
        {

            <div class="col-md-3">
                <a href="/home/productdetails?productId=@product.Id">
                    <div class="card">
                        @if (product.IsDiscount)
                        {
                            <div class="badge badge-sale">Akcija</div>
                        }
                        <img src="/images/@product.images.First().ImagePath" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            @if (product.IsDiscount)
                            {
                                <div class="price">@product.DiscountPrice€</div>
                                <div class="discount-price">@product.Price</div>
                            }
                            else
                            {
                                <div class="price">@product.Price€</div>
                                <br />
                            }
                            <div class="btn-group" role="group">
                                <a href="/home/AddToCart?productId=@product.Id" class="btn btn-primary">U košaricu</a>
                                <button type="button" class="btn btn-success">Kupi</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<h3>Hot</h3>
<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model.HotProducts)
        {

            <div class="col-md-3">
                <a href="/home/productdetails?productId=@product.Id">
                    <div class="card">
                        @if (product.IsDiscount)
                        {
                            <div class="badge badge-sale">Akcija</div>
                        }
                        <img src="/images/@product.images.First().ImagePath" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            @if (product.IsDiscount)
                            {
                                <div class="price">@product.DiscountPrice€</div>
                                <div class="discount-price">@product.Price</div>
                            }
                            else
                            {
                                <div class="price">@product.Price€</div>
                                <br />
                            }
                            <div class="btn-group" role="group">
                                <a href="/home/AddToCart?productId=@product.Id" class="btn btn-primary">U košaricu</a>
                                <button type="button" class="btn btn-success">Kupi</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>